
      <!-- Portfolio Item Heading -->
      <h1 class="my-4 ttu i18n" data-i18n='{{this.fields.title}}'></h1>
      <div class='row'>
      
    
      </div>
      <div class="row">
         {{#if this.fields.descripcion}}
         <div class="item well">           
          <p>{{this.fields.descripcion}}</p>
        </div>
        {{/if}}
          <div class="item well">
          <div id='listCrew' >      
              {{#each this.fields.organizador as |organizador| }}
                <div  id='{{organizador}}' class='i18n mr2 ttc' data-i18n='organizador'></div>
              {{/each}}      
               {{#each this.fields.modelos as |modelo| }}
                <div  id='{{modelo}}' class='i18n mr2 ttc' data-i18n='model'></div>
              {{/each}}
               {{#each this.fields.maquilladoras as |maquilladora| }}
                <div id='{{maquilladora}}' class='i18n mr2 ttc' data-i18n='maquillaje'></div>
              {{/each}}             
               {{#each this.fields.peluqueria as |peluqueria| }}
                <div id='{{peluqueria}}' class='i18n mr2 ttc' data-i18n='peluqueria'></div>
              {{/each}}
                 {{#each this.fields.estilista as |estilista| }}
                <div id='{{estilista}}' class='i18n mr2 ttc' data-i18n='estilista'></div>
              {{/each}}
                 {{#each this.fields.asistente as |asistente| }}
                <div id='{{asistente}}' class='i18n mr2 ttc' data-i18n='asistente'></div>
              {{/each}}  
                 {{#each this.fields.fotografo as |fotografo| }}
                <div id='{{fotografo}}' class='i18n mr2 ttc' data-i18n='fotografo'></div>
              {{/each}}                
          </div>
          </div>
      </div>

      <div class="row">
      	{{#if this.fields.visible}}
          {{#each this.fields.fotos as |foto| }}
          <div class="item well">
            <img src='{{foto.thumbnails.large.url}}' data-img='{{foto.url}}'></img>
          </div>  
        {{/each}}
       {{/if}}
	  </div>
