
      <!-- Portfolio Item Heading -->
      <article>
      <h1 class="my-4 ttu i18n" data-i18n='{{this.fields.title}}'></h1>
      <div class='row'>
      
    
      </div>
      <div class="row">
         {{#if this.fields.descripcion}}
         <div class="item well">           
          <p>{{this.fields.descripcion}}</p>
        </div>
        {{/if}}
          <div class="item well">
          <div id='listCrew' >      
              {{#each this.fields.organizador as |organizador| }}
                <div  id='{{organizador}}' class='mr2 ttc' >
                    <span class='i18n ttc' data-i18n='organizador'></span>
                </div>               
              {{/each}}      
               {{#each this.fields.modelos as |modelo| }}
                <div  id='{{modelo}}' class=' mr2 ttc'>
                  <span class='i18n ttc' data-i18n='model'></span>
                </div>
              {{/each}}
               {{#each this.fields.maquilladoras as |maquilladora| }}
                <div id='{{maquilladora}}' class='mr2'>
                       <span class='i18n ttc' data-i18n='maquillaje'></span>
                </div>
              {{/each}}             
               {{#each this.fields.peluqueria as |peluqueria| }}
                <div id='{{peluqueria}}' class=' mr2 ' >
                     <span class='i18n ttc' data-i18n='peluqueria'></span>
                </div>
              {{/each}}
              {{#each this.fields.estilista as |estilista| }}
                  <div id='{{estilista}}' class='mr2'>
                      <span class='i18n ttc' data-i18n='estilista'></span>
                  </div>
              {{/each}}
                 {{#each this.fields.asistente as |asistente| }}
                <div id='{{asistente}}' class='mr2' >
                      <span class='i18n ttc' data-i18n='asistente'></span>
                </div>
              {{/each}}  
                {{#each this.fields.fotografo as |fotografo| }}
                <div id='{{fotografo}}' class='mr2' >
                    <span class='i18n ttc' data-i18n='fotografo'></span>
                </div>
              {{/each}}                
          </div>
          </div>
      </div>

      <div class="row">
      	{{#if this.fields.visible}}
          {{#each this.fields.fotos as |foto| }}
          <div class="item well">
            <img src='{{foto.thumbnails.large.url}}' data-img='{{foto.url}}'></img>
          </div>  
        {{/each}}
       {{/if}}
	  </div>
</article>